/*
File Name: style.less
Date: 11/30/2020
Programmer: Jessica Cassidy
*/
/* Project color palette from Happy Hues: https://www.happyhues.co/palettes/9 */
/* Start Parametric Mixins */
/* End Other Parametric mixins */
/* Regular Mixins */
/* MOBILE STYLESHEET */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  line-height: 1em;
  color: #000000;
  padding: 35px;
}
h1 {
  font-weight: 700;
  color: #bb4430;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: left;
}
h2 {
  font-weight: 500;
  color: #7ebdc2;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 0.8em;
  text-transform: uppercase;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-top: 0.5em;
}
main {
  background-color: #FFFFFE;
}
.hoverTable {
  width: 100%;
  border-collapse: collapse;
}
table th {
  font-weight: bold;
}
table th,
table td {
  padding-right: 0.6em;
  text-align: left;
  border-bottom: 1px solid #7ebdc2;
  font-size: 1em;
}
table tr:hover {
  background-color: #f3dfa2;
}
span {
  font-size: 1em;
}
#inputLabel {
  font-size: 0.6em;
  font-weight: bold;
}
#inputHours,
#inputDogs {
  padding: 7px 7px 7px 7px;
  margin: 5px;
  border-color: #000000;
  font-size: 0.6em;
  background-color: #f3dfa2;
}
#calcBttn {
  background-color: #7ebdc2;
  /* Green */
  color: white;
  padding: 16px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.6em;
  font-weight: bold;
  margin: 6px;
  cursor: pointer;
  /* Changes cursor to a pointer hand */
}
/*TABLET STYLESHEET
The following CSS affects all screen sizes larger than 480 pixels wide.*/
/*LANDSCAPE*/
@media only screen and (min-width: 479px) {
  body {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 35px;
  }
}
/*PORTRAIT*/
@media only screen and (min-width: 320px) {
  body {
    font-size: 2em;
    line-height: 1.5em;
    padding: 35px;
  }
}
/*DESKTOP STYLESHEET
The following CSS affects all screen sizes larger than 1024 pixels wide.*/
@media only screen and (min-width: 1025px) {
  body {
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 35px;
  }
}
